<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> <H1>HELLO WORLD!</H1> </h1>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime dolores qui reiciendis quidem. Reiciendis iusto ullam animi eius maiores suscipit nesciunt asperiores aut, deserunt sit perferendis earum, maxime dolorem nisi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, facilis iusto doloribus fugiat hic, illo totam veniam commodi asperiores consequuntur, aperiam nihil officia a temporibus? Aliquam vero quae rerum ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iusto molestiae, quos recusandae vel expedita velit atque perferendis cumque dicta quas dolorum beatae rem cum eligendi libero reiciendis quod autem.</p>
        </div>
    </div>

    <div class="parallax"></div>

</div>