.parallax{
    background-image: url('https://image.freepik.com/vetores-gratis/pecas-de-jogo-de-xadrez-realista-conjunto-de-icones-3d-com-reflexao_1284-13710.jpg');

    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}