<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://avatars0.githubusercontent.com/u/61809283?s=460&u=c6ed6ef94b36efc31723762a531f0d638b823ce0&v=4" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://www.linkedin.com/in/mateus-ribeiro-b104a9120/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
      <a href="https://github.com/MateusBCC020" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">Github</a>
    </div>
  </div>